html {
  height: auto;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

#stars, #stars2, #stars3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

#star-canvas {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
      width: 100%
}

#stars {
  animation: animStar 50s linear infinite;   /* fastest (smallest stars) */
}
#stars2 {
  animation: animStar 100s linear infinite;  /* medium speed */
}
#stars3 {
  animation: animStar 150s linear infinite;  /* slowest (biggest stars) */
}

#stars::after, #stars2::after, #stars3::after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 100%;
  height: 2000px;
  background: transparent;
  box-shadow: inherit; /* reuse same star positions */
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
